<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <!--
        NTRegSubKey : 
          Software\\NewType\\AutoWeb.Net
          Win2008r2x64  Software\\Wow6432Node\\NewType\\AutoWeb.Net
        NTRegProject : NTWEB\AutoWeb\...
        NTBPMconn,NTJBconn : .xdbc.xmf
    -->
    <add name="NTRegSubKey" connectionString="Software\\Wow6432Node\\NewType\\AutoWeb.Net"/>
    <add name="NTRegProject" connectionString="WebEIP\\\\EIP3FlowBPM"/>
    <add name="NTBPMconn" connectionString="BPM"/>
    <add name="NTJBconn" connectionString="jbHR"/>
    <add name="dolog" connectionString="1"/>
    <add name="hrexcuse47" connectionString=",11,16,17,18,"/>
    <add name="filepath" connectionString="D:\jg_wbackup1050707\影像檔\"/>
    <add name="uploadpath" connectionString="D:\ERPFile\MMfile\2017"/>
    <add name="uploadpathsql" connectionString="MMfile\2017"/>

  </connectionStrings>

</configuration>
